.buttons{
    top: 5px;
    width: 300px;
    position: absolute;
    left: -205px;
    transition: 0.7s;
    padding-right: 3px;

}
.buttons:after:hover{
    box-shadow: 0 0 5px #8c2e2e,
    0 0 25px #8c2e2e,
    0 0 50px #8c2e2e,
    0 0 200px #8c2e2e;
}

.buttons:hover:after{
    left: 215px;
    background-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 400px #03e9f4;
}
.buttons:hover{

    width: 300px;
    left: 0px;
}
.buttons:after{
    content: '';
    width: 25px;
    height: 25px;
    background-color: royalblue;
    border-radius: 3px;
    position: absolute;
    padding-left: 5px;
    left: 210px;
    top: 1px;

    transition: 0.7s;

}


.common{
    position: relative;
    background-color: dimgrey;
    height: 35px;
    width: 350px;
}


#buttonsLabel:hover + .buttons{
    width: 45px;
    visibility: visible;
}
.buttonsLabel:hover:after{
    position: absolute;
    left: 45px;
    background-color: red;
}

